# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
.vscode
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
node_modules/.cache/

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.mpignore
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info
node_modules/

# Unittest and coverage
htmlcov/*
.coverage
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
docs/build/*
dist/*
sdist/*
../modelica-builder/docs/api/*
../modelica-builder/docs/_rst/*
../modelica-builder/docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.python-version

# Test outputs
tests/output/

# Antlr
.antlr/
